Source: node-feature-discovery-helm
Section: libs
Priority: optional
Maintainer: StarlingX Developers <starlingx-discuss@lists.starlingx.io>
Build-Depends: debhelper-compat (= 13),
 helm
Standards-Version: 4.5.1
Homepage: https://www.starlingx.io

Package: node-feature-discovery-helm
Section: libs
Architecture: any
Depends: ${misc:Depends}
Description: StarlingX Node Feature Discovery Helm Charts
 This package contains helm charts for the Node Feature Discovery application.
